body {
    font-family: 'Montserrat';
    font-weight: 500;
}

h1 {

    font-family: 'Montserrat', sans-serif;

    font-size: 3.5rem;

    font-weight: 900;

    line-height: 1.46;
}

h3 {
    font-family: 'Montserrat', sans-serif;

    font-weight: 900;
}

p {
    color: #8f8f8f8f;
}

#title {
    background-color: #ff4c68;

    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {

    font-family: 'Ubuntu', sans-serif;

    font-size: 2.5rem;

    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;

    font-weight: 500;
}

/* Buttons */

.dwn-btn {
    margin: 5% 3% 5% 0;
}

.title-image {
    transform: rotate(20deg);
    
    margin: 10px 0 0 60px;
}

/* Features */

.feature-box{
    padding: 8%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}