body {
    font-family: 'Montserrat';
    font-weight: 500;
}

h1 {
    font-family: 'Montserrat', sans-serif;

    font-size: 3.5rem;

    font-weight: 900;

    line-height: 1.46;
}

h2 {
    font-family: 'Montserrat', sans-serif;

    font-size: 3rem;

    font-weight: 900;

    line-height: 1.46;
}

h3 {
    font-family: 'Montserrat', sans-serif;

    font-weight: 900;
}

p {
    font-family: 'Montserrat', sans-serif;

    font-size: 1.2rem;

    font-weight: 400;

    color: #8f8f8f8f;
}

#title {
    background-color: #ff4c68;

    color: #fff;

}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {

    font-family: 'Ubuntu', sans-serif;

    font-size: 2.5rem;

    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;

    font-weight: 500;
}

/* Buttons */

.dwn-btn {
    margin: 5% 3% 5% 0;
}

.title-image {
    transform: rotate(20deg);

    margin: 10px 60px 0 80px;

    width: 16.5%;

    position: absolute;
}

/* Features */

#features {
    padding: 4% 15%;
    background-color: #fff;
    position: relative;


}

.feature-box {
    padding: 8%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials and Press  */

#testimonials {
    background-color: #ef8172;
    color: #ffff;
    padding: 7% 15%;
    text-align: center;
}

.testimonials-carousel {
    position: absolute;
}

.carousel-item {
    padding: 5% 15%;
}

.testimonial-image {
    border-radius: 100%;
    width: 87px;
    height: 91px;
}

.col-xs-2 {
    font-weight: 400;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    margin: 20px 30px 50px;
    width: 10%;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;

}
/* CTA Section*/

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    align-items: center;

}

/* Footer Section */

#footer {
    background-color: #fff;

    padding: 7% 15%;

    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}




/* Responsive Query's */
@media (max-width: 1028px) {
    /* Title adjustment's */
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);

        width: 80%;

        margin-left: auto;
        margin-right: auto;
    }

    /* Carousel Adjust */
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.46;
        text-align: center;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

}